<script src="/javascripts/jquery.js"></script>
<div class="text-center circleStyle" id="firstDiv" >
    <p style="position: relative; top: 40px;">click</p>
</div>
<h2></h2>
<input type="text" class="input-lg" id="inputOne">
<input type="text" class="input-lg">
<p class="input-lg"></p>